/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* button.slick-arrow.slick-prev {
  background: blue;
  border-radius: 50%;
 
} */

/* .slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1.6;
  opacity: .75;
  color: #fff;
} */

/* .slick-prev {
  left: -10px;
  z-index: 1;
} */
.slick-slide.slick-active.slick-current {
  padding-inline: 10px;
}

.slick-slide.slick-active {
  padding-inline: 10px;
}

button.slick-arrow.slick-prev {
  border-radius: 50%;
  display: block;
  width: 45px;
  display: flex;
  height: 45px;
  background-color: white;
  z-index: 1;
}
button.slick-arrow.slick-next  {
  border-radius: 50%;
  display: block;
  width: 45px;
  display: flex;
  height: 45px;
  background-color: white;
  z-index: 1;
}

.slick-next {
  left: 995px;
}

.slick-prev {
  left: -19px;
}

.slick-next:before, .slick-prev:before {
  color:#001240;
  font-size: 30px;
  line-height: 1;
  /* opacity: .75; */
  /* color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

